body {
    font: normal 15pt arial;
    background: rgb(85, 85, 240);
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    width: 500px;
    border-radius: 10px;
    margin: auto;
    padding: 15px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.459);
}

.btn {
    background: rgb(152, 64, 235);
    color: white;
    height: 30px;
    width: 200px;
    border-radius: 5px;
    font-style: normal;
    font-size: 15pt;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
    margin-top: 50px;
}